<section class="contact" id="contacto">
  <p class="section-label">Contacto</p>

  <h2 class="section-title">
    ¿Construimos algo juntos?
  </h2>

  <p class="contact-text">
    Estoy interesado en oportunidades de pasantía, desarrollo de software y
    proyectos donde pueda aportar valor mediante soluciones tecnológicas
    eficientes, escalables y centradas en el usuario.
  </p>

  <div class="contact-actions">
    <a href="mailto:cordobaariasd@gmail.com" class="btn btn-primary">
      Enviar correo
    </a>

    <a href="https://github.com/David5-cap" target="_blank" class="btn btn-outline">
      GitHub
    </a>

    <a href="https://www.linkedin.com/in/david-cordoba-arias-1a439b389/" target="_blank" class="btn btn-outline">
      LinkedIn
    </a>
  </div>
</section>
