<section class="hero" id="inicio">
  <div class="hero-content">
    <p class="subtitle">Desarrollador Full Stack</p>

    <h1>
      Hola, soy <span>David Nassar Córdoba Arias</span>
    </h1>

    <p class="description">
      Bachiller en Informática Empresarial por la Universidad de Costa Rica,
      enfocado en el desarrollo de aplicaciones web y móviles.
      Construyo soluciones escalables, mantenibles y centradas en una experiencia
      de usuario clara, simple y eficiente.
    </p>

    <div class="hero-buttons">
      <a href="#proyectos" class="btn btn-primary">Ver proyectos</a>
      <a href="#contacto" class="btn btn-outline">Contáctame</a>
      <a href="assets/CV_David_Nassar_Cordoba_Arias.pdf" class="btn btn-outline" download>Descargar CV</a>
    </div>
  </div>

  <div class="hero-card">
    <div class="profile-circle">
      <img src="assets/Profile.png" alt="Foto de David Nassar Córdoba Arias">
    </div>

    <h3>Full Stack Developer</h3>
    <p>Web · Mobile </p>

    <div class="tech-list">
      <span>Angular</span>
      <span>Vue.js</span>
      <span>React Native</span>
      <span>FastAPI</span>
      <span>Spring Boot</span>
      <span>MySQL</span>
    </div>
  </div>
</section>
